body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffe4e1;
    color: #d63384;
    margin: 0;
}

header {
    background-color: #ff69b4;
    padding: 20px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #ff1493;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagenes img {
    width: 200px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}

footer {
    background: #ff69b4;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}